/* Add your own styles */
.country-table{
    border: 1;
    margin-top: 15px;
    border-collapse: collapse;
    width: 80%;
    padding: 20px;
    margin-left: 150px;
    display: flex;
    align-items: center;
    text-align: center;
    font-family:sans-serif;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #0783a9;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

tr:nth-child(even) {
  background-color: #f2f2f272;
}

tr:hover {
  background-color: #72a9c9b9;
}

p {
  font-family: Arial, sans-serif;
  color: #666666dc;
}


body{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgba(172, 235, 235, 0.959);
    max-height: 100vh;
    margin: 0;
    padding: 0;
}

#lookup{
    padding: 10px;
    min-width: 50px;
    border-radius: 5px;
    font-weight:bold;
    color:rgb(255, 255, 255);
    background-color: rgba(10, 126, 81, 0.881);
}

#cities{
    padding: 10px;
    min-width: 50px;
    border-radius: 5px;
    font-weight:bold;
    color:rgb(255, 255, 255);
    background-color: rgba(24, 11, 216, 0.881);
}

input{
    padding: 10px;
    border-radius: 5px;
    min-width: 300px;
}

label{
    font-weight:700;
}

header{
    display: flex;
    background-color:rgba(36, 31, 31, 0.707);
    min-width: 100%;
    min-height: 200px;
    margin-top: 0;
    margin: 0;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
    font-family: cursive;
    font-size: 20px;
}

header h1{
    margin-top: 80px;
    margin-left: 50px;
}

header img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    padding: 5px;
    margin-left: 200px;
}